[user]
	email = silviogreuel@gmail.com
	name = Silvio Greuel
[core]
	excludesfile = /home/silvio/.globalgitignore
	editor = vim
[alias]
	start = !git init && git commit --allow-empty -m \"Initial commit\"
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[github]
	user = silviogreuel
[url "git@github.com:"]
	insteadOf = https://github.com/
[alias]
  show-alias = !git config --get-regexp alias
  find-merge = "!sh -c 'commit=$0 && branch=${1:-HEAD} && (git rev-list $commit..$branch --ancestry-path | cat -n; git rev-list $commit..$branch --first-parent | cat -n) | sort -k2 -s | uniq -f1 -d | sort -n | tail -1 | cut -f2'"
  show-merge = "!sh -c 'merge=$(git find-merge $0 $1) && [ -n \"$merge\" ] && git show $merge'"
